@import '../../styles/variables';

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.skeleton {
  background: linear-gradient(
    90deg,
    var(--color-bg-tertiary) 0%,
    var(--color-border-hover) 50%,
    var(--color-bg-tertiary) 100%
  );
  background-size: 1000px 100%;
  animation: shimmer 2s infinite linear;
  border-radius: var(--radius-md);
}

.circle {
  border-radius: 50%;
}

.text {
  border-radius: var(--radius-sm);
  // margin-bottom: var(--spacing-xs);
}
