@import '../../styles/variables';

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: var(--spacing-sm);

  @include desktop {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  @include tablet {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @include mobile {
    gap: var(--spacing-sm);
  }
}
