.footer {
  background: $background-secondary;
  border-top: 1px solid $border-color;
  padding: $spacing-xl 0;
  text-align: center;
  color: $text-secondary;
  font-size: $font-size-sm;
  margin-top: auto;
}
